<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tests</key>
	<array>
		<dict>
			<key>Architectures</key>
			<array/>
			<key>Scheme</key>
			<string>Timer</string>
			<key>Test Plan</key>
			<string>TestPlan</string>
			<key>isDefault</key>
			<false/>
			<key>xctestrun</key>
			<string>Tests/0/TestPlan.xctestrun</string>
		</dict>
	</array>
</dict>
</plist>
